@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

body{
    color: #000;
    -webkit-text-stroke: 4px black
    font-size: 1em;
    display: block;
    text-align: center;
    justify-content: center;
    background-image: url(imagensCod/Woods.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

