@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

body {
    -webkit-text-stroke: 2px white;
    font-family: 'Roboto Mono', monospace; color: white;   
    display: block;
    text-align: center;
    justify-content: center;
    color: white;
    background-image:url(ImagensValorant/jett.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
